body {
    font-family: Arial, Verdana, sans-serif;
}

.index-recipe {
    background-color: chocolate;
    color: blueviolet;
    text-align: center;
}

#index-heading {
    text-align: center;
    color: brown;
}